:root {
    --main-bg-color: #102834;
    --bg-color: #27627F;
    --tab-bg-color: #EBEBEB;
    --text-color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 10px;
    font-family: arial, sans-serif;
}

h1 {
    margin: 0;
    text-align: center;
    padding: 2rem;
    background-color: var(--main-bg-color);
}

a {
    font-size: 0.7em;
    text-decoration: none;
    color: #050C0F;
}

#main-title a {
    font-size: 3em;
    color: var(--text-color);
}

#main-options button,
#main-options a {
    position: absolute;
    border: none;
    cursor: pointer;
    outline: none;
    background: transparent;
    color: var(--text-color);
    font-size: 1.2em;
}

#main-options #master-tab-options {
    top: 5px;
    right: 5px;
}

#main-options #master-tab-import-export {
    top: 5px;
    right: 60px;
}

#main-options #github-link {
    top: 5px;
    right: 145px;
}

#main-options button:hover,
#main-options a:hover {
    border-bottom: 1px solid #fff;
}

#header-menu {
    background-color: var(--bg-color);
}

#header-menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

#header-menu li {
    list-style: none;
    text-align: center;
    cursor: pointer;
    color: var(--text-color);
    font-size: 1.5em;
    text-decoration: none;
    padding: 0.8rem 0.5rem;
    flex: 1 0 10em;
    user-select: none;
}

#header-menu button:not(#new-category-btn) {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--btn-color);
    color: #fff;
    border: 2px solid transparent;
    border-radius: 4px;
}

#header-menu li:hover,
.section-category-menu-categories button:hover {
    background-color: #235873;
}

#header-menu li:active,
.section-category-menu-categories button:active {
    background-color: #3481A8;
}

#header-menu li:last-child {
    min-width: 350px;
    border: none;
    margin-right: 0;
}

/* search box and add-new-category-input */
#header-menu li:last-child:active,
#header-menu li:first-child:active,
#header-menu li:last-child:active #new-category-input,
#header-menu li:first-child:active #search-tab-input  {
    background-color: transparent;
}

#header-menu li:hover #new-category-input,
#header-menu li:hover #search-tab-input {
    background-color: #235873;
}

#new-category-input,
#search-tab-input {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    font-size: 1em;
}

#new-category-input:focus,
#search-tab-input:focus {
    border-bottom: 1px solid #fff;
}

#new-category-input::placeholder,
#search-tab-input::placeholder {
    color: var(--text-color);
}

#new-category-btn {
    display: none;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    position: absolute;
    margin: -5px auto auto 5px;
    padding: 0.4rem 1rem;
    font-size: 0.8em;
}

#new-category-btn:hover {
    background-color: #086685;
    color: var(--main-bg-color);
    font-weight: bold;
}

#new-category-btn:active {
    background-color: #3481A8;
    color: #fff;
}

.section-header-options {
    position: relative;
}

.section-header-options img {
    position: absolute;
    z-index: 1;
    margin: 5px;
    cursor: pointer;
}

.section-header-options .minimize-section {
    width: 16px;
    padding-top: 10px;
    right: 20px;
}

.section-header-options .minimize-section:hover {
    content: url('../../img/whiteMinimizeBtn.svg');
}

.section-header-options .delete-section {
    width: 14px;
    height: 14px;
    right: 0;
}

.section-header-options .delete-section:hover {
    content: url('../../img/whiteCloseBtn.svg');
}

.section-category-menu {
    position: relative;
    display: inline-block;
    margin: 2rem auto 1rem;
    width: 100%;
    margin: 0;
}

.section-category-btn {
    padding: 0.8rem;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.section-category-menu-categories {
    display: none;
    z-index: 1;
}

.section-category-menu-categories li {
    width: 100%;
}

.section-category-menu-categories button {
    background-color: #286482;
    padding: 0.8rem;
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 0.6em;
    text-align: center;
    color: var(--text-color);
}

#flash-msg {
    display: none;
    margin: 0;
    text-align: center;
    font-size: 16px;
    width: 100vw;
    padding: 20px 0;
    background: #3481A8;
    color: #fff;
    overflow: hidden;
}

#all-tabs {
    max-width: 100vw;
    padding: 0 15rem;
    margin: 0 auto;
}

.tabsSection {
    font-size: 2em;
    margin: 0.2rem 0;
    padding: 0.5rem;
    color: var(--text-color);
}

.tab-li {
    list-style: none;
    cursor: pointer;
    text-align: center;
    min-width: 40vw;
    max-width: 100vw;
    padding: 0.5rem;
    margin: 0;
    background-color: rgba(238, 243, 255, 0.4);
    display: flex;
    justify-content: flex-start;
}

.tab-li a {
    margin-left: 0;
    margin: 0;
}

.tab-li:hover {
    background-color: #3481A8;
}

.tab-li:hover a {
    color: var(--text-color);
}

.over{
    border-top: 2px solid #086685;
}

.tabsSection li img {
    height: 20px;
    width: 20px;
    margin: 0;
    margin-right: 20px;
}

/* close button img */
.tab-li img:nth-child(1) {
    margin-right: 10px;
    display: none;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(238, 243, 255, 0.8);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(161, 161, 161, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(161, 161, 161);
}